#header-title {
    background-image: url(/img/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

#column-image {
    max-width: 40px;
    max-height: 40px;
}

